# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
*.egg-info/
*.egg

# Virtual env
.venv/
env/
venv/
ENV/

# IDE / Editor
.vscode/
.idea/

# Logs
*.log

# Env vars
.env

# Byte-compiled / cache
.pytest_cache/
.mypy_cache/
.dmypy.json
.pyre/

# Docker
*.pid
*.seed
*.bak
*.swp
docker-compose.override.yml
